<!DOCTYPE html>
<html>
  <head>
    <title>My Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/flash_messages' %>
      <header>
        <%= render 'shared/navbar' %>
      </header>
      <main>
        <%= yield %>
      </main>
      <footer>
        <%= render 'shared/footer' %>
      </footer>
    </div>

  </body>
</html>
